<% if flash[:notice] %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<h2>Title</h2>
<p><%= @book1.title %></p>

<h2>Body</h2>
<p><%= @book1.body %></p>


<%= link_to 'Edit', edit_book_path(@book1.id) %>
<%= link_to "Back", "/books" %>